@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Sora:wght@200&display=swap');


*{
	font-family: "Sora", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url(login_back.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.fondo{
	width: 420px;
	border-radius: 10px;
	border: 2px solid #fff3;
	box-shadow:0 0 13px #0002;
	color: #fff;
	backdrop-filter: blur(10px);
	padding: 30px 40px;
}

.fondo h1{
	text-align: center;
	font-size: 40px;
}

.fondo .input-box{
	position: relative;
	width: 100%;
	height: 50px;
	margin: 30px 0;
}

.input-box input{
	width: 100%;
	height: 100%;
	background: transparent;
	border:none;
	outline: none;
	border-bottom: 2px solid #fff2;
	border-radius: 2px;
	color: #fff;
	padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
	color: #fff;
}

.input-box i {

	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	color: #fff;
}

.fondo .olvidar-recordar{
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	margin: 20px 0 15px;
	color: #fff;
}

.olvidar-recordar label input{
	accent-color: #fff;
	text-decoration: none;
	margin-right: 3px;
}

.olvidar-recordar a{
	text-decoration: none;
	color:#fff;
	font-weight: 600;
}

.olvidar-recordar a:hover{
	text-decoration: underline;
}

.fondo .btn{
	width: 100%;
	height: 45px;
	background-color: #fff;
	outline: none;
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px #fff1;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	color: #212121;
	transition: all .4s;

}

.fondo .btn:hover{
	opacity: 0.8;
}


.registrar-link{
	font-size: 14.5px;
	text-align: center;
	margin-top: 20px;
}

.registrar-link a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}

.registrar-link a:hover{
	text-decoration: underline;
}
